@font-face { 
   font-family: "titleFontAvk"; 
   src: url("../font/segoeprb.ttf"); 
}
#id-meta-box-avkshopweb20{
    min-width: 625px;
}
.avkshop_meta_middle{
    width: 100%;
    font-size: 13px;
}
#id_post_avk{
    text-align: center;
    vertical-align: middle;
    width: 90px;
    border: 1px solid rgba(0,0,0, 0.4);
    border-radius: 4px;
}
#massegtoadminnopaycart{
    color: red;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    line-height: 2em!important;
}
/** поля metaBox в PostEdit */
.avkshop_meta_middle .avkmetabox{
    width: 590px;
    position: relative;
    margin: 20px auto;
    padding: 10px 7px;
}
#title_input_avk{
    text-align: center;
    padding-top: 5px;
}
.avkshop_meta_middle .divlabel{
    display: table-cell;
    vertical-align: middle;
    width: 250px;
    text-align: left;
    font-weight: bold;
}
.avkshop_meta_middle .labelavk{
    position: relative;
    font-weight: bold;
}
.avkshop_meta_middle .inputavk{
    width: 290px;
    text-align: center;
    font-weight: 400;
}
.avkshop_meta_middle .readonlyavk{
    width: 290px!important;
    padding: 2px;
}
.avkshop_meta_middle select.inputavk,.avkshop_meta_middle textarea.inputavk{
    width: 290px;
    font-weight: 400;
}
.avkshop_meta_middle select.inputavk option{
    padding-left: 10px;
}
.avkshop_meta_middle .inpnamefile{
    width: 214px;
    height: 26px;
    padding: 3px 5px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 4px 0 0 4px;    
}
.avkshop_meta_middle .dttitleavk{
    margin-top: 8px;
    display: table;
}
.avkshop_meta_middle .descavk{
    width: 280px;
    margin: 5px auto 5px 250px;
    border: 2px solid #FFF;
    border-radius: 5px;
    padding: 7px 5px;
    display: none;
    text-align: center;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.150);
    background-color: rgba(255,255,255,1);
    color: #21759B;
    font-weight: 600;
    text-shadow: -1px -1px 3px rgba(255,255,255,1);
}
.avkshop_meta_middle .helpimg{
    vertical-align: top;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 7px;
}
.avkshop_meta_middle .downloadavk{
    vertical-align: middle;
    height: 26px;
    cursor: pointer;
    margin: -4px auto auto -6px;
    border-radius: 0 4px 4px 0;
    padding: 0;
}
.avkshop_meta_middle .downloadavk:active{
    margin: 1px auto auto -6px;
    outline: none;
}
.button-primary-act{
    width: 78px;
}
.button-primary-del{
    width: 78px;
    background: #b5272e!important;
    background: -webkit-linear-gradient(top, #e45e40, #b5272e)!important;
	background: -moz-linear-gradient(top, #e45e40, #b5272e)!important;
	background: -ms-linear-gradient(top, #e45e40, #b5272e)!important;
	background: -o-linear-gradient(top, #e45e40, #b5272e)!important;
    box-shadow: inset 0px 1px 0px rgba(250, 157, 157, 0.506)!important;
    border-color: #b5272e!important;
    padding: 0!important;
}
.button-primary-del:hover{
    background: -webkit-linear-gradient(top, rgba(228, 94, 64, 0.9), #b5272e )!important;
	background: -moz-linear-gradient(top, rgba(228, 94, 64, 0.9), #b5272e )!important;
	background: -ms-linear-gradient(top, rgba(228, 94, 64, 0.9), #b5272e )!important;
	background: -o-linear-gradient(top, rgba(228, 94, 64, 0.9), #b5272e )!important;
}
.submit .clouse_pop_avk{
      padding: 0 0 1px;
}
.infomsg{
    text-align: center;
    font-family: "titleFontAvk"!important;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.38) !important;
}
/** Popup window */
#fadebgavk {
	display: none;
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none;
	background: #fff;
	padding: 20px;
	border: 10px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	border-radius: 10px;
}
img.btn_close {
	float: right;
	margin: -31px -31px 0 0;
    border:0;
    border-radius: 0 10px 0 0;
}
.popup_botton{
    background: #b5272e;
    background: -webkit-linear-gradient(top, #e45e40, #b5272e);
	background: -moz-linear-gradient(top, #e45e40, #b5272e);
	background: -ms-linear-gradient(top, #e45e40, #b5272e);
	background: -o-linear-gradient(top, #e45e40, #b5272e);
    border: 1px solid #b5272e;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    padding: 4px 10px;
    color: #FFFFFF;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.102);
    box-shadow: inset 0px 1px 0px rgba(250, 157, 157, 0.506);
}
.popup_botton:hover{
    color: #FFFFFF;
    background: -webkit-linear-gradient(top, rgba(228, 94, 64, 0.9), #b5272e );
	background: -moz-linear-gradient(top, rgba(228, 94, 64, 0.9), #b5272e );
	background: -ms-linear-gradient(top, rgba(228, 94, 64, 0.9), #b5272e );
	background: -o-linear-gradient(top, rgba(228, 94, 64, 0.9), #b5272e );
}
.popup_block .submit{
    width: 100%;
    text-align: center;
}
#id-meta-box-avkshopweb20 .avkicon32{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    top: -10px;
}
.avk_loading{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: -3px;
    background: url("../images/loading.gif") no-repeat 0 0;
    visibility: hidden;
}
#popup_download_file_avk h2{
    display: inline-block;
    margin: 8px auto auto 20px;
}
.avk_error{
    text-align: center;
    border: 1px solid #CC0000;
    border-radius: 5px;
    background-color: #FFEBE8;
    padding: 0.5em 0.6em;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    margin-top: 10px;
    display: none;
}
#popup_download_file_avk .lab_new_file{
    font-weight: bold;
    text-align: left;
    margin-right: 5px;
}
#popup_download_file_avk .avk_add_files{
    padding: 3px;
    width: 300px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 3px;
}
#popup_download_file_avk dt{
    padding-top: 10px;
    padding-bottom: 5px;
}
#popup_download_file_avk dd{
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 12px;
}
#popup_download_file_avk .lab_upload_file{
    float: left;
    margin-top: 4px;
    padding-right: 10px;
}
#popup_download_file_avk .mainuploadfileavk{
    width: 130px;
    vertical-align: top;
}

#popup_delete_file_avk h2{
    display: inline-block;
    margin: 8px auto auto 10px;
}
.mesdelavk{
    line-height:1.3em;
    text-indent: 2em;
}
.submitavk{
    text-align: center;
}
#delete_file_avk{
    margin-left: 20px;
}
/*--Фиксированное позиционирование для тупого IE6--*/
*html #fadebgavk {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}